<%- include('header') %>

<h2>📝 게시글 목록</h2>

<div style="height: 10px"></div>

<% if (postList.length === 0) { %>
  <div class="no-post">
    <p>첫번째 게시글을 작성해주세요!</p>
    <div style="height: 10px"></div>
    <a href="#"><button class="default-button">✏️ 게시글 작성하기</button></a>
  </div>
<% } else { %>
  <table class="post-list">
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>조회수</th>
      <th>작성일</th>
    </tr>
    <% postList.forEach(post => { %>
      <tr>
        <td><%= post.title %></td>
        <td><a href="/posts/<%= post._id %>/view?origin_page=<%= page %>"><%= post.content %></a></td>
        <td><%= post.viewCount %></td>
        <td><%= post.createAt.toLocaleDateString() %></td>
      </tr>
    <% }) %>
  </table>

  <ul class="pagination-wrap middle float">
    <li><a href="/?page=<%= (page - 1 < 1) ? 1 : page - 1 %>">이전 페이지</a></li>
    <li><a href="/?page=<%= (page + 1 > lastPage) ? lastPage : page + 1 %>">다음 페이지</a></li>
  </ul>
<% } %>

<%- include('footer') %>
